<div class="max-w-sm lg:max-w-md">
  <h1 class="font-bold text-4xl mb-5">Criando história...</h1>
  <div class="mb-5">
    <% @story_request.keywords.each do |keyword| %>
      <span class="bg-indigo-700 text-white inline-block px-2 rounded-full"><%= keyword %></span>
    <% end %>
  </div>
</div>